.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: ghostwhite;
    padding: 20px 50px;
    box-sizing: border-box;
    /* box size를 늘어나거나 줄어들지 않고 고정시키는 역할!! */
    border-top: 1px solid rgba(211, 211, 211, 0.7);
}

/* .nav로 지정하면 안됨 */
.nav__list {
    display: flex;
    justify-content: space-between;
    color: #353535;
}

.nav__link {
    position: relative;
}

.nav__notification {
    position: absolute;
    left: 17px;
    bottom: 15px;
}

.nav__dot {
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: -8px;
}

.