/* body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* basic */
@import 'reset.css';
@import 'variables.css';

/* components */
@import 'component/status-bar.css';
@import 'component/nav-bar.css';
@import 'component/screen-header.css';
@import 'component/user-component.css';

/* screens */
@import 'screens/login.css';
@import 'screens/friends.css';

body {
    font-family: 'Open Sans', sans-serif;
    height: 1000vh;
    color: #353535;
}
