.status-bar {
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 7px 0px;
    display: flex;
    justify-content: space-between;
}

.status-bar__column {
    width: 33%;
}
.status-bar__column:first-child span {
    margin-right: 5px;
    margin-left: 5px;
}
.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
}
.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
}
.status-bar__column .fa-battery-three-quarters {
    margin: 0px 5px;
}

.battery__number {
    margin-right: 7px;
}

.fa-battery-full {
    margin-right: 5px;
}
